In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [17]:
df = pd.read_csv('sports.csv')

In [18]:
df.head()

,Borough Location,Park Location,Sports Played,Week Start Date,Week End Date,Sunday's Attendance,Monday's Attendance,Tuesday's Attendance,Wednesday's Attendance,Thursday's Attendance,Friday's Attendance,Saturday's Attendance,Attendance Sum
0,Queens,Playground for All Children,"Soccer, Basketball, ultimate Frisbee",04/23/2017,04/22/2017,25,20,30,26,22,100,37,260
1,Queens,Playground for All Children,Basketball,04/30/2017,05/06/2017,250,95,120,180,400,0,0,1045
2,Queens,Playground for All Children,Soccer,05/07/2017,05/13/2017,590,180,250,440,550,730,0,2740
3,Queens,Playground for All Children,Pillow Polo,05/14/2017,05/20/2017,550,708,58,680,975,333,670,3974
4,Queens,Playground for All Children,All sports,05/21/2017,05/27/2017,300,375,280,200,0,370,800,2325

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 308 entries, 0 to 307
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Borough Location        308 non-null    object
 1   Park Location           308 non-null    object
 2   Sports Played           308 non-null    object
 3   Week Start Date         308 non-null    object
 4   Week End Date           308 non-null    object
 5   Sunday's Attendance     308 non-null    int64
 6   Monday's Attendance     308 non-null    int64
 7   Tuesday's Attendance    308 non-null    int64
 8   Wednesday's Attendance  308 non-null    int64
 9   Thursday's Attendance   308 non-null    int64
 10  Friday's Attendance     308 non-null    int64
 11  Saturday's Attendance   308 non-null    int64
 12  Attendance Sum          308 non-null    int64
dtypes: int64(8), object(5)
memory usage: 31.4+ KB

In [20]:
df.sample(5)

,Borough Location,Park Location,Sports Played,Week Start Date,Week End Date,Sunday's Attendance,Monday's Attendance,Tuesday's Attendance,Wednesday's Attendance,Thursday's Attendance,Friday's Attendance,Saturday's Attendance,Attendance Sum
178,Brooklyn,Sunset Park,Field Games,08/21/2017,08/21/2017,0,6,0,0,0,0,0,6
174,Brooklyn,Sunset Park,Basketball,08/21/2017,08/21/2017,0,11,0,0,0,0,0,11
225,Bronx,Williamsbridge Oval,"Basketball, Soccer, Track & Field",05/20/2018,05/26/2018,0,16,0,7,25,11,0,59
195,Brooklyn,Sunset Park,Soccer,08/25/2017,08/25/2017,0,0,0,0,0,12,0,12
267,Brooklyn,Sunset Park,"Fitness Friday, Soccer, Basketball, Dance,Track",05/21/2018,05/25/2018,0,47,40,44,36,49,0,216

In [22]:
df_nan = df.isnull().sum()
print(df_nan)

Borough Location          0
Park Location             0
Sports Played             0
Week Start Date           0
Week End Date             0
Sunday's Attendance       0
Monday's Attendance       0
Tuesday's Attendance      0
Wednesday's Attendance    0
Thursday's Attendance     0
Friday's Attendance       0
Saturday's Attendance     0
Attendance Sum            0
dtype: int64